*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;

  background: url(image/3.png) no-repeat center center/cover;
}

#dialog-container{
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgba(249, 103, 77, 0.722);
}

.note-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.note-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: sans-serif;
}

.note-title{
  background-color: rgba(255, 210, 197, 0.83);
  border: none;
  border-radius: 7px;
  padding: 5px;
  
}

.note-Content{
  background-color: rgba(255, 210, 197, 0.83);
  border: none;
  border-radius: 7px;
  padding: 5px
}
.save-btn{
  border: none;
  border-radius: 10px;
  background-color: rgba(117, 255, 102, 0.762);
  padding: 7px;
  color: white;
  box-shadow: 2px 2px 5px rgb(4, 156, 50);
}

.close-dialog{
  border: none;
  border-radius: 10px;
  background-color: rgba(142, 67, 14, 0.762);
  padding: 7px;
  color: white;
  box-shadow: 2px 2px 5px rgb(156, 14, 4);
}


h1{
  color: rgb(255, 170, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.message{
  color: rgb(51, 23, 0);
  font-family: sans-serif;
  font-size: 1.2rem;
}

.add-note-form{
  background-color: rgba(255, 136, 0, 0.834);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.add-note-form:hover {
  background-color: rgba(32, 255, 39, 0.699);
  color: rgb(18, 62, 132);
  transform: scale(1.1);
  box-shadow: 2px 10px 5px rgb(28, 54, 4);
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notes-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.note-box{
  border:none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(165, 42, 42, 0.418);
  backdrop-filter: blur(8px);
  width: 230px;
  height: 230px;
  max-width: 230px;
  font-family: sans-serif;
  transition: all 0.3s ease-in-out;
 
}


.note-box:hover{
  transform: scale(1.1);
  box-shadow: 2px 7px 5px rgb(100, 8, 1);
}

.note-title-added{
  color: white;
}

.note-content-added{
  background: rgba(191, 70, 33, 0.349);
  background-color:  rgba(255, 210, 197, 0.636);;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px rgb(156, 14, 4);
  padding: 6px 5px;
  height: 80;
  max-width: 200px;
  max-height: 75px;
  min-width: 150px;
  min-height: 50px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
}

.date-houre{
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(255, 236, 236)
}

.btn-container{
  display: flex;
  gap: 40px;
  position: relative;
  top: 15px;
 
}


.edit-btn, .delete-btn{
  border: none;
  font-size: 1.2rem;
  border-radius: 5px; 
  cursor: pointer;
}
.delete-btn{
  background-color: rgba(99, 8, 2, 0.436);
  color:white;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
.delete-btn:hover{
  transform: scale(1.3);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}


.edit-btn{
  background-color: rgba(231, 209, 10, 0.749);
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 2px;
}
.edit-btn:hover{
  transform: scale(1.3);

  box-shadow: 2px 7px 5px rgb(255, 246, 214);
}


.copyright{
  margin-top: 15px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
  background-color: rgba(255, 136, 0, 0.545);
  border-radius: 10px;

}